<% provide(:title, "Show Task") %>

  <h1>タスク詳細</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered" id="table-task">
      <tbody>
        <tr>
          <th class="active col-md-2">ID</th>
          <td class="col-md-10"><%= @task.id %></td>
        </tr>
        <tr>
          <th class="active col-md-2">名称</th>
          <td class="col-md-10"><%= @task.name %></td>
        </tr>
        <tr>
          <th class="active col-md-2">タスクの詳細</th>
          <td class="col-md-10"><%= raw Rinku.auto_link(@task.description).html_safe %></td>
        </tr>
        <tr>
          <th class="active col-md-2">作成日</th>
          <td class="col-md-10"><%= @task.created_at %></td>
        </tr>
        <tr>
          <th class="active col-md-2">更新日</th>
          <td class="col-md-10"><%= @task.updated_at %></td>
        </tr>
      </tbody>
    </table>
      <div class="task-menus">
        <%= link_to "編集", edit_user_task_path(@user,@task.id), class: "btn btn-lg btn-success btn-form" %>
        <%= link_to "削除", user_task_path(@user, @task), method: :delete,
               data: { confirm: "「#{@task.name}」を削除します。よろしいですか？" }, class: "btn btn-lg btn-danger" %>
      </div>
    </div>
  </div>

  
    
    
    
    
    